<footer class="footer position-relative">
  <div class="container">
    <div class="col-9 col-md-2 mb-md-2">
      <a href="index.html">
        <img src="/assets/images/logo_2.png" class="img-fluid" alt="" />
      </a>
    </div>
    <div class="row fs-7 justify-content-around pb-7">
      <ul class="list-unstyled col-12 col-md-6 row mb-0">
        <li class="mb-2 col-6 col-md-3">
          <a href="sail.html" class="text-decoration-none text-black">SAIL</a>
        </li>
        <li class="mb-2 col-6 col-md-9">
          <a href="index.html" class="text-decoration-none text-black">POWER</a>
        </li>
        <li class="mb-2 col-6 col-md-3">
          <a href="media.html" class="text-decoration-none text-black">MEDIA</a>
        </li>
        <li class="mb-2 col-6 col-md-9">
          <a href="merchandise.html" class="text-decoration-none text-black"
            >MERCHANDISE</a
          >
        </li>
        <li class="mb-2 col-6 col-md-3">
          <a href="about.html" class="text-decoration-none text-black"></a>JOIN
          US
        </li>
        <li class="mb-2 col-6 col-md-3">
          <a href="about.html" class="text-decoration-none text-black">HYLAS</a>
        </li>
        <li class="mb-2 col-6 col-md-3">
          <a href="index.html" class="text-decoration-none text-black"
            >MEMBER</a
          >
        </li>
      </ul>
      <div class="col-12 col-md-6">
        <ul class="list-unstyled">
          <li>+1 954 866 0750</li>
          <li>info@hylasyachts.com</li>
          <li>
            No 4, Tung Ya Road, Shaou Kang, Kaohsiung, Taiwan R.O.C. (812)
          </li>
          <li class="mb-0 col-12">
            <p class="fs-7">
              2023 © QUEEN LONG MARINE Designed By
              <span class="font-sans-serif">純粹設計</span>
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="brand pb-5">
      <img src="/assets/images/logo_1.png" class="img-fluid" alt="" />
    </div>
  </div>
  <div class="footer-bg">
    <img src="/assets/images/footer_bg_1.png" class="img-fluid" alt="" />
  </div>
  <div class="footer-bg ft-wave">
    <img src="/assets/images/footer_bg_2.png" class="img-fluid" alt="" />
  </div>
</footer>

<div class="float-icon mt-2">
  <ul class="list-unstyled connectIcons d-none">
    <li class="mb-2">
      <a href="#"
        ><img src="/assets/images/icon_line.png" class="img-fluid" alt=""
      /></a>
    </li>
    <li class="mb-2">
      <a href="#"
        ><img src="/assets/images/icon_FB.png" class="img-fluid" alt=""
      /></a>
    </li>
    <li>
      <a href="#"
        ><img src="/assets/images/icon_phone.png" class="img-fluid" alt=""
      /></a>
    </li>
  </ul>
  <ul class="list-unstyled">
    <li class="connectIcon mb-2">
      <a href="#" class="connectClose"
        ><img src="/assets/images/icon_message.png" class="img-fluid" alt=""
      /></a>
    </li>
    <li class="backToTop">
      <a href="#"
        ><img src="/assets/images/icon_top.png" class="img-fluid" alt=""
      /></a>
    </li>
  </ul>
</div>
<div class="navCtrl">


<div class="logo-area">
  <div class="nav-logo nav-light">
  <img src="/assets/images/logo_4.png"  style="width: 8vw !important; margin-top:30px; height:unset;"/>
</div>

<div class="nav-logo nav-derk">
  <img src="/assets/images/logo_4_dark.png" />
</div>
</div></div>


<script>
  const indexEle = document.querySelector(".index");
  const darkLogo = document.querySelector(".nav-derk");
  const lightLogo = document.querySelector(".nav-light");
  if (indexEle === null) {
    lightLogo.style.visibility = "hidden";
  } else {
    darkLogo.style.visibility = "hidden";
  }
  window.onload = function () {
  const footerEle = document.querySelector(".footer");
    const footerHeight = footerEle.scrollHeight;
    const allHeight = document.body.scrollHeight;
    const navLogo = document.querySelector(".logo-area");
    let delHeight = window.innerHeight;
    window.onscroll = function () {
      let top = window.scrollY;
      let changeYpx = allHeight - delHeight - 160;
      if (top >= changeYpx) {
        navLogo.style.visibility = "hidden";
      } else {
        navLogo.style.visibility = "visible";
      }
    };

  };    

  const connectIcon = document.querySelector(".connectIcon");
  const connectIcons = document.querySelector(".connectIcons");
  connectIcon.addEventListener("click", (e) => {
    e.preventDefault();
    connectIcons.classList.toggle("d-block");
    connectIcons.classList.toggle("d-none");
  });

  const ftWaveImage = document.querySelector(".ft-wave");
  gsap.to(ftWaveImage, {
    y: -12,
    duration: 2,
    ease: "none",
    repeat: -1,
    yoyo: true,
  });
  let currentVal = 0;
  let scrollVal = 0;
  const navCtrlEle = document.querySelector(".navCtrl");
  const navBarElm = document.querySelector(".navbar");

  $(window).scroll(function () {
    currentVal = scrollVal;
    scrollVal = $(window).scrollTop();
    if(currentVal < scrollVal) {
      navCtrlEle.style.display = "none";
      navBarElm.style.visibility = "hidden";
    }else{
      navCtrlEle.style.display = "block";
      navBarElm.style.visibility = "visible";
    }
  })
</script>
