@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.fm-serif{
  font-family: 'Times New Roman','Noto Serif', serif;
}

.index {
  .bg-1{
    position: relative;
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(114, 181, 228, 0.7) 20%, rgba(222, 98, 30, 0.7) 55%, rgba(31, 45, 76, 0.7) 85%);
    z-index: 8;
  }
  .hero {
    .second-word {
      margin-right: -20px;
      padding-top: 15vw;
      writing-mode: vertical-rl;
      display: flex;
      align-items: center;
    }
    .title {
      text-orientation: sideways-right;
      font-weight: 700;
      color: $white;
      margin-bottom: 8px;
      font-size: 12px;
    }
    .v-line {
      border-left: 1px solid $white;
      height: 40px;
      margin-bottom: 16px;
    }
    .slogan {
      font-family: "Myanmar MN", Arial, sans-serif;
      font-size: calc(1.425rem + 2.1vw);
      color: $white;
      margin-left: auto !important;
      text-align: right;
    }
  }
  .hero-logo {
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 50%;
    img {
      width: calc(8vw);
    }
  }
  .slide-ul {
    width: 100%;
    height: 397.5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .slide-li {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    background-color: $third;
    border-right: 1px solid #53bce4;
    transition: all 0.5s ease-in-out;

  }
  .slide-li.out {
    background-color: $primary;
    border-right: 1px solid transparent;
    flex: 1;
    transition: all 0.5s ease-in-out;
    .slide-word-box {
      h3 {
        color: $white;
      }
      h4 {
        color: $white;
      }
    }
    .slide-image-box {
      display: block;
    }
  }
  .slide-word-box {
    height: 100%;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    h3 {
      vertical-align: middle;
      color: $info;
      font-size: 16px;
    }
    h4 {
      height: 32%;
      font-weight: 300;
      letter-spacing: 1.2;
      color: #72929f;
      font-size: 12px;
    }
  }
  .slide-image-box {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .slide-image {
    width: 100%;
    // height: 100%;
    // object-fit: cover;
    transition: all 0.8s ease-in-out;
  }
  .slide-video {
    height: 100%;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .videobox {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.videobox iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

  .wave-text-area {
    position: absolute;
    top: 0;
    height: 100%;
    border-right: 8px solid $white;
  }
  .horizontal-line {
    position: absolute;
    top: 50%;
    margin-left: calc(-1 * 8.5vw);
    width: calc(50% + 8vw) !important;
    border-bottom: 8px solid $white;
  }
  .family-border {
    border: 10px solid hsla(0, 0%, 100%, 0.26);
    background-clip: padding-box;
  }
  // .friend {
  //   margin-top: -40px;
  // }
  // .friend-word {
  //   margin-top: 40px;
  // }
  // .bottom-slide {
  //   background-image: url(/assets/images/bg8.jpg);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }

  .img-hv100 {
    // min-height: 100vh !important;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
  }
  .party-photo {
    top: 0;
    margin-top: 16px;
  }
  .card-img-top{
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  @include media-breakpoint-up(md) {
    // .h-v100 {
    //   min-height: 100vh !important;
    // }
    .mt-md-96{
      margin-top: 96px;
    }
    .hero-h-v100 {
      max-height: 100vh;
      object-fit: cover;
      object-position: 50% 70%;
    }
    // .h-v100{
    //   min-height: unset !important;
    // }
    // .img-hv100 {
    //   min-height: unset !important;
    //   width: unset;
    //   object-fit: unset;
    //   object-position: unset;
    // }
    .hero {
      .second-word {
        padding-top: 8vw;
      }
      max-height: 100vh;
      .title {
        margin-bottom: 32px;
        font-size: unset;
      }
      .v-line {
        height: 160px;
        margin-bottom: 40px;
      }
      .slogan {
        font-size: 64px;
      }
    }
    .mt-md-280 {
      margin-top: 280px !important;
    }
    .mb-md-320 {
      margin-bottom: 320px !important;
    }
    .mb-md-72 {
      margin-bottom: 72px !important;
    }
    .mb-md-96 {
      margin-bottom: 96px !important;
    }
    .py-md-144 {
      padding-top: 144px !important;
      padding-bottom: 144px !important;
    }
    .pt-md-80 {
      padding-top: 80px !important;
    }
    .pb-md-232 {
      padding-bottom: 232px !important;
    }
    .fs-md-110 {
      font: 110px;
    }
    .fs-md-55 {
      font: 55px;
    }
    .wave-text-area {
      left: 33%;
      border-right: 16px solid $white;
    }
    .horizontal-line {
      border-bottom: 16px solid $white;
    }

    .slide-ul {
      height: 795px;
    }
    .slide-word-box {
      h3 {
        font-size: 1.75rem;
      }
      h4 {
        font-size: 17px;
        height: 24%;
      }
    }
    .slide-image-box {
      display: none;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .slide-image {
      width: 100%;
      // height: 100%;
      // object-fit: cover;
      transition: all 0.8s ease-in;
    }
    // .friend {
    //   margin-top: -160px !important;
    // }
    // .friend-word {
    //   margin-top: 160px !important;
    // }
    .party-photo {
      top: unset;
      margin-top: unset;
    }
  }
}
