<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>QUEEN LONG MARINE | CUSTOMIZATION</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <main class="index overflow-hidden">
      <section data-bgcolor="#ffffff" class="hero position-relative">
        <div
          class="col-9 position-absolute top-0 start-50 translate-middle-x z-1"
          data-aos="fade-zoom-in"
          data-aos-easing="ease-in-back"
          data-aos-delay="300"
          data-aos-offset="0"
          
        >
          <div class="second-word ms-auto">
            <p class="title">QUEEN LONG MARINE</p>
            <div class="v-line"></div>
          </div>
          <h2 class="slogan">
            Cultivated by time and experience. </br>
            Excellent craft and extraordinary design.
            </h2>
        </div>
        <div class="position-relative hero_bg">
          <img
            src="/assets/images/hero_bg.png"
            alt=""
            class="w-100 hero-h-v100"
          />

          <img
            src="/assets/images/hero_bg_wave.png"
            alt=""
            class="w-100 position-absolute top-0 start-0 bg-wave hero-h-v100"
          />
          <img
            src="/assets/images/hero_bg_wave2.png"
            alt=""
            class="w-100 position-absolute top-0 start-0 bg-wave2 hero-h-v100"
          />
          <img
            src="/assets/images/bot.png"
            alt=""
            class="w-100 position-absolute top-0 start-0 z-1 bg-boat"
          />
          <img
            src="/assets/images/bot_small.png"
            alt=""
            class="position-absolute z-1 boat-mouse translate-middle"
            style="visibility: hidden; width: 200px"
          />
        </div>
      </section>
      <section
        data-bgcolor="#ffffff"
        class="position-relative mb-3 mb-md-72 z-1"
      >
        <ul class="list-unstyled m-0 p-0 slide-ul">
          <li class="slide-li" data-tab="5">
            <div class="slide-word-box">
              <h3 class="mx-1 mx-md-1 fw-bold">Affirmation of award</h3>
              <h4 class="mb-3 mx-0 text-end font-sans-serif">獲獎肯定</h4>
            </div>
            <div class="slide-image-box">
              <div class="d-flex align-items-center h-100">

              
              <img
                src="/assets/images/Slideaward.jpg"
                alt="slide1"
                class="img-fluid slide-image"
              /></div>
            </div>
          </li>
          <li class="slide-li" data-tab="4">
            <div class="slide-word-box">
              <h3 class="mx-1 mx-md-1 fw-bold">Co-designer</h3>
              <h4 class="mb-3 mx-0 text-end font-sans-serif">合作設計師</h4>
            </div>
            <div class="slide-image-box">
              <div class="d-flex align-items-center h-100">
              <img
                src="/assets/images/Slidedesigner.gif"
                alt="slide1"
                class="img-fluid slide-image"
              /></div>
            </div>
          </li>
          <li class="slide-li" data-tab="3">
            <div class="slide-word-box">
              <h3 class="mx-1 mx-md-1 fw-bold">Quality Assurance</h3>
              <h4 class="mb-3 mx-0 text-end font-sans-serif">
                對工藝不變的堅持
              </h4>
            </div>
            <div class="slide-image-box">
              <div class="d-flex align-items-center h-100">

              
              <img
                src="/assets/images/SlideQuality.gif"
                alt="slide1"
                class="img-fluid slide-image"
              /></div>
            </div>
          </li>
          <li class="slide-li" data-tab="2">
            <div class="slide-word-box">
              <h3 class="mx-1 mx-md-1 fw-bold">Professional technology</h3>
              <h4 class="mb-3 mx-0 text-end font-sans-serif">最新穎構造技術</h4>
            </div>
            <div class="slide-image-box">
              <div class="slide-video">
                <div class="videobox">
                  <iframe
                    frameborder="0"
                    src="https://www.youtube.com/embed/OcRKoKrWCbE?controls=0&autoplay=1&mute=1&loop=1"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
                  >
                  </iframe>
                </div>
              </div>
            </div>
          </li>
          <li class="slide-li out" data-tab="1">
            <div class="slide-word-box">
              <h3 class="mx-1 mx-md-1 fw-bold">Club system</h3>
              <h4 class="mb-3 mx-0 text-end font-sans-serif">俱樂部制度</h4>
            </div>
            <div class="slide-image-box">
              <div class="d-flex align-items-center h-100">

              
              <img
                src="/assets/images/SlideClub.jpg"
                alt="slide1"
                class="img-fluid slide-image"
              />
            </div></div>
          </li>
        </ul>
      </section>
      <section data-bgcolor="#ffffff" class="position-relative mb-2">
        <div
          class="position-absolute top-0 w-100 z-1 h-100"
          data-aos="zoom-in"
          data-aos-duration="1500"
          data-aos-easing="ease-in-sine"
        >
          <div class="container-fluid h-100 d-flex flex-column justify-content-between align-items-end">
            <h2
              class="text-white fw-semibold text-end fs-md-110 me-md-7 mt-md-96"
                         >
              SAILING<span class="ms-1 text-success">FLEET</span>
            </h2>
            <div class="col-7 col-md-5 me-md-7 mb-2 d-none d-md-block">
              <h3 class="text-third fw-bolder fs-md-2">Our Heritage</h3>
              <p class="fs-5">For over 40 years, Queen Long Marine has created innovative yachts under the Hylas brand from the designs of Sparkman & Stephens, Germán Frers, Bill Dixon and Dean Salthouse. Many have been award winners, both for their beauty and build quality.</p>
            </div>
          </div>
        </div>
        <div
          class="col-9"
          data-aos="zoom-in"
          data-aos-easing="ease-in-sine"
          data-aos-duration="1500"
        >
          <img
            src="/assets/images/hero2.png"
            alt="Sailing Fleet"
            class="img-fluid"
          />
        </div>
      </section>
      <div class="bg-1 mb-0">
        <section
          data-bgcolor="#ffffff"
          class="gsap-section mb-0 position-relative"
        >
          <div
            class="w-100 position-relative z-2 pt-4"
            data-aos="zoom-in"
            data-aos-easing="linear"
            data-aos-duration="2000"
          >
            <div class="col-9 h-100 ms-auto position-relative">
              <img
                src="/assets/images/turtle_box.png"
                class="img-fluid col-3 mb-1"
                style="margin-left: calc(-1 * 2.25vw)"
              />
              <img
                src="/assets/images/turtle.png"
                class="gsap-turtle img-fluid col-3 position-absolute top-0 start-0 z-1"
                style="margin-left: calc(-1 * 6.25vw); margin-top: calc(4.25vw)"
                alt=""
              />
              <div
                class="row row-cols-2 g-0 position-relative z- 1"
                style="margin-top: calc(-1 * 3vw)"
              >
                <img
                  src="/assets/images/womensup.png"
                  class="img-fluid"
                  alt=""
                />
                <img
                  src="/assets/images/area3Bg.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="horizontal-line"></div>
                <div
                  class="position-absolute top-0 end-0 d-flex flex-column justify-content-between h-100 text-white pt-3 pt-md-80 pb-md-232 col-10"
                >
                  <h2
                    class="text-end me-3 fw-bold fs-md-110"
                    data-aos="zoom-in"
                    data-aos-easing="linear"
                    data-aos-duration="3800"
                  >
                    FOR BUSINESS
                  </h2>
                  <h3
                    class="fw-bold fs-md-55"
                    data-aos="zoom-in"
                    data-aos-easing="linear"
                    data-aos-duration="4500"
                  >
                  enjoy your life
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-4 position-absolute top-0 z-1"
            data-aos="fade-right"
            data-aos-easing="linear"
            data-aos-duration="2500"
          >
            <img
              src="/assets/images/LightOfWaves_2.png"
              alt="waves"
              class="img-fluid"
            />
            <div class="wave-text-area">
              <p
                class="text-rl text-white fs-md-3 fs-7 fw-bold z1 me-1 h-100 md-0"
                style="margin-top: calc(10.1vw)"
              >
                FRIENDS PARTY
              </p>
            </div>
          </div>
        </section>
        <section
          data-bgcolor="linear-gradient(180deg, rgba(255,255,255,1) 36%, rgba(121,121,121,1) 100%)"
          class="gsap-section h-v100 family-trip position-relative z-2"
          data-aos="zoom-in"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          <div class="position-absolute top-25 w-100">
            <div class="col-10 col-md-9">
              <div class="col-4 col-md-3 ms-auto">
                <div class="family-border position-relative">
                  <h2
                    class="text-white fw-bolder fs-3 fs-md-4 my-1 my-md-4 lh-1"
                    style="margin-left: -2rem"
                  >
                    RETIRED<br />
                    LIFE
                  </h2>
                  <p
                    class="m-0 position-absolute text-warning translate-middle-y fs-md-4 fw-semibold"
                    style="margin-left: -2rem !important"
                  >
                    FAMILY TRIP
                  </p>
                </div>
              </div>
            </div>
          </div>
          <img
            src="/assets/images/familytrip.png"
            alt="familytrip"
            class="img-fluid"
          />
        </section>
        <section
          data-bgcolor="linear-gradient(180deg, rgba(121,121,121,1) 0%, rgba(255,197,139,1) 36%, rgba(75,47,48,1) 100%)"
          class="gsap-section h-v100 friends-party position-relative friend z-1"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="2400"
        >
          <img
            src="/assets/images/bg6.png"
            alt="familytrip"
            class="img-fluid position-relative z-n1 img-hv100"
            style="opacity: 1"
            srcset=""
          />
          <div
            class="position-absolute col-md-7 col-10 bottom-0 z-1 party-photo"
          >
            <img
              src="/assets/images/friendparty.png"
              class="img-fluid h-100"
              alt=""
              data-aos="fade-down"
              data-aos-easing="linear"
              data-aos-duration="1500"
            />
          </div>
          <div
            class="position-absolute top-0 z-2 text-white w-100 container start-50 translate-middle-x friend-word"
            data-aos="zoom-in"
            data-aos-easing="linear"
            data-aos-duration="1500"
          >
            <div class="w-100 mt-1 mt-md-6">
              <div class="col-11">
                <p class="text-rl fs-md-3 fw-bold ms-auto">FRIENDS PARTY</p>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-md-280">
              <h2 class="text-white fw-semibold w-50 fs-md-110">LIFESTYLE.</h2>
              <p class="fw-medium w-md-25 w-50 d-none d-md-block">
                Whether  you’re enjoying the serenity of the water, or embarking on the next big adventure, your Hylas is equipped for any condition you’ll encounter.
              </p>
            </div>
          </div>
        </section>
        <section
          data-bgcolor="linear-gradient(180deg, rgba(75,47,48,1) 0%, rgba(108,150,169,1) 39%, rgba(2,53,75,1) 100%)"
          class="gsap-section h-v100 position-relative"
        >
          <img
            src="/assets/images/bg7.png"
            class="img-fluid img-hv100"
            alt=""
          />
          <div
            class="col-9 position-absolute top-50 start-50 translate-middle z-1"
            data-aos="zoom-in"
            data-aos-easing="linear"
            data-aos-duration="1500"
          >
          <div class="position-relative">
            <img src="/assets/images/area7_hero.png" class="img-fluid" />
            <div
            class="col-md-6 co-9 position-absolute bottom-0 end-0 z-3"
          >
            <p class="fw-medium text-white fm-serif fs-md-4 fs-7">We have all your yachting requirements in hand. Together with your captain and crew, we reduce the risk and increase the enjoyment.</p>
          </div>
          </div>
            
          </div>

          
        </section>
        <section
          data-bgcolor="linear-gradient(180deg, rgba(2,53,75,1) 0%, rgba(213,164,113,1) 40%, rgba(77,34,24,1) 100%)"
          class="gsap-section h-v100 bottom-slide position-relative mb-3 mb-md-0"
        >
          <img
            src="/assets/images/bg8.png"
            class="img-fluid position-relative position-absolute z-n1 img-hv100"
            style="height: 100%;"
            srcset=""
          />
          <div class="top-0 start-50 w-100">
            <div class="container">
              <ul
                class="list-unstyled row row-cols-2 row-cols-md-4 py-md-144 py-6"
              >
                <li
                  class="col"
                  data-aos="zoom-in"
                  data-aos-easing="linear"
                  data-aos-duration="1500"
                >
                  <div class="card text-start border-0">
                    <img
                      class="card-img-top"
                      src="/assets/images/slide1.png"
                      alt="Title"
                    />
                    <div class="card-body border-0">
                      <h6 class="card-title text-white fw-bold">
                        Annapolis Sailboat Show 2023
                      </h6>
                      <p class="card-text fs-7 text-white">
                        ON DISPLAY: H57 Dock F2 RSVP DATES & TIMES October 12, 2023 10am-6:30pmOctober 13, 2023 10am-6:30pmOctober 14, 2023 10am-6:30pmOctober
                      </p>
                    </div>
                  </div>
                </li>
                <li
                  class="col"
                  data-aos="zoom-in"
                  data-aos-easing="linear"
                  data-aos-duration="1500"
                >
                  <div class="card text-start border-0">
                    <img
                      class="card-img-top"
                      src="/assets/images/slide2.jpg"
                      alt="Title"
                    />
                    <div class="card-body border-0">
                      <h6 class="card-title text-white fw-bold">
                        Newport International Boat Show 2023
                      </h6>
                      <p class="card-text fs-7 text-white">
                        ON DISPLAY: H57 Dock N-4 W RSVP DATES & TIMES September 14, 2023 10am-6pmSeptember 15, 2023 10am-6pmSeptember 16,
                      </p>
                    </div>
                  </div>
                </li>
                <li
                  class="col"
                  data-aos="zoom-in"
                  data-aos-easing="linear"
                  data-aos-duration="1500"
                >
                  <div class="card text-start border-0">
                    <img
                      class="card-img-top"
                      src="/assets/images/slide3.png"
                      alt="Title"
                    />
                    <div class="card-body border-0">
                      <h6 class="card-title text-white fw-bold">
                        British Motor Yacht Show 2023
                      </h6>
                      <p class="card-text fs-7 text-white">
                        Hylas Yachts UK will proudly be displaying the Hylas M44 power yacht at the British Motor
                      </p>
                    </div>
                  </div>
                </li>
                <li
                  class="col"
                  data-aos="zoom-in"
                  data-aos-easing="linear"
                  data-aos-duration="2000"
                >
                  <div class="card text-start border-0">
                    <img
                      class="card-img-top"
                      src="/assets/images/slide4.png"
                      alt="Title"
                    />
                    <div class="card-body border-0">
                      <h6 class="card-title text-white fw-bold">
                        DC Boat Show at National Harbor
                      </h6>
                      <p class="card-text fs-7 text-white">
                        Join Us May 5-7NATIONAL HARBOR – FORT WASHINGTON, MD The 1st Annual DC Boat Show at
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <section data-bgcolor="#ffffff" class="container gsap-section mt-2">
        <ul
          class="list-unstyled row row-cols-2 row-cols-md-6 justify-content-evenly align-items-center g-4"
        >
          <li class="text-center">
            <img
              src="/assets/images/awardIcon_1.png"
              class="img-fluid"
              alt=""
            />
          </li>
          <li class="text-center">
            <img
              src="/assets/images/awardIcon_2.png"
              class="img-fluid"
              alt=""
            />
          </li>
          <li class="text-center">
            <img
              src="/assets/images/awardIcon_3.png"
              class="img-fluid"
              alt=""
            />
          </li>
          <li class="text-center">
            <img
              src="/assets/images/awardIcon_4.png"
              class="img-fluid"
              alt=""
            />
          </li>
          <li class="text-center">
            <img
              src="/assets/images/awardIcon_5.png"
              class="img-fluid"
              alt=""
            />
          </li>
          <li class="text-center">
            <img
              src="/assets/images/awardIcon_6.png"
              class="img-fluid"
              alt=""
            />
          </li>
        </ul>
      </section>
    </main>

    <%- include('./layout/jspackage'); -%>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>

    <script>
      AOS.init();

      const waveImage = document.querySelector(".bg-wave");
      const wave2Image = document.querySelector(".bg-wave2");
      const botImage = document.querySelector(".bg-boat");
      const turtleImg = document.querySelector(".gsap-turtle");
      gsap.to(turtleImg, {
        y: 15,
        duration: 3,
        ease: "none",
        repeat: -1,
        yoyo: true,
      });
      gsap.to(botImage, {
        y: -33,
        x: -33,
        duration: 4,
        ease: "rough({ template: none.out, strength: 1, points: 20, taper: none, randomize: true, clamp: false})",
        repeat: -1,
        yoyo: true,
      });
      gsap.to(waveImage, {
        y: 20,
        duration: 4,
        ease: "none",
        repeat: -1,
        yoyo: true,
      });
      gsap.from(wave2Image, {
        y: 40,
        duration: 4,
        ease: "none",
        repeat: -1,
        yoyo: true,
      });

      // window.addEventListener("scroll", () => {
      //   const scrollY = window.scrollY;
      //   gsap.to(waveImage, {
      //     y: scrollY * -0.5,
      //     duration: 0.5,
      //     ease: "power3.out",
      //     yoyo: true,
      //   });
      //   gsap.from(wave2Image, {
      //     y: scrollY * 0.3,
      //     duration: 0.5,
      //     ease: "power3.out",
      //     yoyo: true,
      //   });
      //   gsap.to(botImage, {
      //     y: scrollY * 0.3,
      //     duration: 1,
      //     ease: "power3.out",
      //     yoyo: true,
      //   });
      // });

      $(function () {
        let $accordion, $wideScreen;
        $accordion = $(".slide-ul").children("li");
        $wideScreen = $(window).width() > 767;

        $accordion.on("click", function (e) {
          var $this;
          $this = $(this);
          if ($this.hasClass("out")) {
            $this.addClass("out");
          } else {
            $this.addClass("out");
            $this.siblings().removeClass("out");
          }
        });
      });
      let i = 1;
      let divDisplay,
        iCount = 0;

      function countNum(i) {
        if (i < 1) {
          return i + 5;
        } else if (i > 5) {
          return i - 5;
        } else {
          return i;
        }
      }

      // document.addEventListener("DOMContentLoaded", function () {
      //   let divDisplay = document.querySelectorAll(".slide-li");
      //   setInterval(function () {
      //     if (i > 5) {
      //       i = 1;
      //     }
      //     for (let oEle of divDisplay) {
      //       if (oEle.classList.contains("out")) {
      //         oEle.classList.remove("out");
      //         break;
      //       }
      //     }
      //     document
      //       .querySelector('[data-tab="' + countNum(i) + '"]')
      //       .classList.add("out");
      //     i++;
      //   }, 4500);
      // });
    </script>
<!-- 
    <script>
      window.onload = function () {
        const scrollColorElems = document.querySelectorAll("[data-bgcolor]");
        const familyElem = document.querySelector(".family-trip");
        const partyElem = document.querySelector(".friends-party");
        const bgAry = [
          "linear-gradient(180deg, rgba(255,255,255,0.8) 21%, rgba(121,121,121,0.8) 100%)",
          "linear-gradient(180deg, rgba(255,255,255,0.8) 21%, rgba(121,121,121,0.8) 100%)",
          "linear-gradient(180deg, rgba(121,121,121,0.8) 21%, rgba(255,197,139,0.8) 36%, rgba(75,47,48,0.8) 100%)",
          "linear-gradient(180deg, rgba(75,47,48,0.8) 18%, rgba(108,150,169,0.8) 39%, rgba(2,53,75,0.8) 100%)",
          "linear-gradient(180deg, rgba(2,53,75,0.8) 18%, rgba(213,164,113,0.8) 40%, rgba(255,255,255,0.8) 100%)",
          "rgb(255,255,255)",
        ];

        //   gsap.set("body", {
        //     background: gsap.utils.wrap(scrollColorElems),
        //   });
        //   gsap.registerPlugin(ScrollTrigger);
        //   const sections = gsap.utils.toArray(".gsap-section");
        //   sections.forEach(function (section, i) {
        //       ScrollTrigger.create({
        //         trigger: section,
        //         // markers:true,
        //         start: "top",
        //         end: `bottom`,
        //         animation: gsap.to("body", {
        //           background: bgAry[i],
        //           immediateRender: false,
        //           ease: "none",
        //         }),
        // //         onEnter: () => {
        // //   previousBg = bgAry[i]; // Store the current background color
        // // },
        //         // onLeave: () => {
        //         //   gsap.to("body", {
        //         //     background: "#ffffff",
        //         //     immediateRender: false,
        //         //   });
        //         // },
        //         toggleActions: "restart none none reverse",
        //       });
        //   });
      };
    </script> -->
    <!-- <script>
      document.addEventListener('mousemove', function(e) {

  let body = document.querySelector('.hero');
  let circle = document.querySelector('.boat-mouse');
  let mainBot = document.querySelector('.bg-boat')
  let left = e.pageX;
  let top = e.pageY;
  
  circle.style.left = left + 'px ';
  circle.style.top = top + 'px ';
  if(left > document.body.clientWidth){
    mainBot.style.visibility = 'visible'
    circle.style.visibility = 'hidden'
    
  } else{
    mainBot.style.visibility = 'hidden'
    circle.style.visibility = 'visible'
  }
  if(top > document.documentElement.clientHeight ){
    mainBot.style.visibility = 'visible'
    circle.style.visibility = 'hidden'
    
  } else{
    mainBot.style.visibility = 'hidden'
    circle.style.visibility = 'visible'
  }
});
    </script> -->
  </body>
</html>
