<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Media | Hylas</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <main class="media text-center">
      <section class="title mt-7 w-100 d-flex justify-content-center mb-7">
        <img
          src="/assets/images/web/media_list_-01.png"
          class="img-fluid"
          alt=""
        />
      </section>
      <section class="container mb-7">
        <img
          src="/assets/images/web/media_list_-11.png"
          class="img-fluid"
          alt=""
        />
      </section>
      <section class="mb-2 container text-start">
        <img
          src="/assets/images/web/media_detail-04.png"
          class="img-fluid"
          alt=""
        />
      </section>
      <section class="mb-4 container text-start">
        <img
          src="/assets/images/web/media_detail-05.png"
          class="img-fluid"
          alt=""
        />
      </section>
      <section class="mb-5 container text-start">
        <img
          src="/assets/images/web/media_detail-06.png"
          class="img-fluid"
          alt=""
        />
      </section>

      <section class="mb-5 container">
      <ul class="list-unstyled d-flex justify-content-center">
        <li><img src="/assets/images/web/media_detail-07.png" class="img-fluid mx-2" alt=""></li>
        <li><img src="/assets/images/web/media_detail-08.png" class="img-fluid mx-2" alt=""></li>
      </ul>  
      </section>

      <section class="container mb-7">
        <a href="#" onClick="javascript :history.go(-1);">
        <img
          src="/assets/images/web/media_detail-09.png"
          class="img-fluid"
          alt=""
        /></a>
      </section>
    </main>
    <%- include('./layout/jspackage'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
