<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Merchandise | Hylas</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <main class="media text-center">
      <section class="title mt-7 w-100 d-flex justify-content-center mb-7">
        <img
          src="/assets/images/web/merchandise_list-01.png"
          class="img-fluid"
          alt=""
        />
      </section>
      <section class="container mb-7">
        <div class="d-flex flex-column flex-md-row">
          <img
            src="/assets/images/web/merchandise_list-02.png"
            class="img-fluid w-md-50"
            alt=""
          />
          <img
            src="/assets/images/web/merchandise_list-03.png"
            class="img-fluid w-md-50"
            alt=""
          />
        </div>
      </section>
      <section class="container text-start pt-3">
        <img
          src="/assets/images/web/merchandise_list-04.png"
          class="img-fluid"
          alt=""
        />
      </section>
      <section class="mb-2 container">
        <ul class="list-unstyled row row-cols-1 row-cols-md-3">
          <li class="mb-2 mb-md-4">
            <img
              src="/assets/images/web/merchandise_list-05.png"
              class="img-fluid w-100"
              alt=""
            />
          </li>
          <li class="mb-2 mb-md-4">
            <img
              src="/assets/images/web/merchandise_list-06.png"
              class="img-fluid w-100"
              alt=""
            />
          </li>
          <li class="mb-2 mb-md-4">
            <img
              src="/assets/images/web/merchandise_list-07.png"
              class="img-fluid w-100"
              alt=""
            />
          </li>
        </ul>
      </section>
      <section class="container mb-7 text-end">
        <a href="merchandise.html">
          <img
            src="/assets/images/web/merchandise_list-08.png"
            class="img-fluid"
            alt=""
        /></a>
      </section>
    </main>
    <%- include('./layout/jspackage'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <style>
      .list-title {
        bottom: 0;
        color: white;
        background-color: rgb(0 0 0 / 38%);
      }
    </style>
  </body>
</html>
