<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sail List | Hylas</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <div class="pt-7 pb-6">
      <a href="sail_single.html">
        <img
          src="/assets/images/web/sail-list-01.png"
          class="img-fluid"
          alt=""
        />
      </a>
      <a href="sail_single.html">
        <img
          src="/assets/images/web/sail-list-02.png"
          class="img-fluid"
          alt=""
        />
      </a>
      <a href="sail_single.html">
        <img
          src="/assets/images/web/sail-list-03.png"
          class="img-fluid"
          alt=""
        />
      </a>
      <a href="sail_single.html">
        <img
          src="/assets/images/web/sail-list-04.png"
          class="img-fluid"
          alt=""
        />
      </a>
      <a href="sail_single.html">
        <img
          src="/assets/images/web/sail-list-05.png"
          class="img-fluid"
          alt=""
        />
      </a>
      <a href="sail_single.html">
        <img
          src="/assets/images/web/sail-list-06.png"
          class="img-fluid"
          alt=""
        />
      </a>
    </div>
    <%- include('./layout/jspackage'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
