<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sail | Hylas</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <div class="pt-7">
      <img src="/assets/images/web/sail_title.png" class="img-fluid">
    </div>
    <div class="container mb-2">
      <img src="/assets/images/web/sail_slogan.jpg" class="img-fluid" alt="">
    </div>
    <ul class="list-unstyled row row-cols-1 row-cols-md-2 g-0 mb-3">
      <li class="mb-2"><a href="sail_list.html"><img src="/assets/images/web/sail_left.png" class="img-fluid" alt=""></a></li>
      <li class=""><a href="sail_list.html"><img src="/assets/images/web/sail_right.png" class="img-fluid" alt=""></a></li>
    </ul>
    <%- include('./layout/jspackage'); -%> 
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
