<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sali | Hylas</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <main class="media">
      <div class="pt-7 pb-6">
<img src="/assets/images/web/sail-single-01.png" class="img-fluid" alt="">
<img src="/assets/images/web/sail-single-02.png" class="img-fluid" alt="">
      </div>
      <img src="/assets/images/web/sail-single-03.png" class="img-fluid pb-6" alt="">
    </main>
    <%- include('./layout/jspackage'); -%> <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <style>
      .list-title {
        bottom: 0;
        color: white;
        background-color: rgb(0 0 0 / 38%);
      }
    </style>
  </body>
</html>
